.appsec-kit-root-layout {
    min-width: 1000px;
    min-height: 500px;
}

.appsec-kit-title {
    font-size: 25px;
}

.last-scanned-label {
    text-align: right;
}

.vulnerability-details-view .vulnerability-header {
    border-bottom: 1px solid rgb(223, 223, 223);
}

.vulnerability-details-view .navigate-back-button {
    color: black;
}

.vulnerability-details-view .vulnerability-details-content-right {
    background-color: #ddd;
}

.vulnerability-details-view .vulnerability-details-property-holder {
    padding-right: 30px;
    padding-top: 10px;
}

.m-s.v-margin-left {
    padding-left: 15px !important;
}
.m-s.v-margin-bottom {
    padding-bottom: 15px !important;
}
.m-s.v-margin-right {
    padding-right: 15px !important;
}
.m-s.v-margin-top {
    padding-top: 15px !important;
}

.vulnerability-details-view .developer-analysis-title {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #666;
    padding-bottom: 10px;
}

.vulnerability-details-view .vulnerability-title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 3px;
}

.vulnerability-details-view .vaadin-analysis-title,
.vulnerability-details-view .vulnerability-desc-title,
.vulnerability-details-view .references-title {
    font-size: 20px;
    font-weight: bold;
}

.vulnerability-details-view .vulnerability-desc-title,
.vulnerability-details-view .references-title {
    margin-top: 20px;
}

.vulnerability-details-view .vaadin-analysis-panel {
    border: 1px solid #666;
    margin-top: 20px;
}

.vulnerability-details-view .vaadin-analysis-true-positive {
    background: pink;
    padding: 3px 10px;
    border-radius: 20px;
}

.vulnerability-details-view .vaadin-analysis-false-positive {
    background: lightblue;
    padding: 3px 10px;
    border-radius: 20px;
}

.vulnerability-details-view .vaadin-analysis-under-review {
    background: lightgray;
    padding: 3px 10px;
    border-radius: 20px;
}

.vulnerability-details-view .vaadin-analysis-not-supported {
    background: red;
    color: white;
    padding: 3px 10px;
    border-radius: 20px;
}

.vulnerability-details-view .vaadin-analysis-not-available {
    background: lightgray;
    padding: 3px 10px;
    border-radius: 20px;
}

.vulnerability-details-view .vulnerability-property-label {
    font-weight: bold;
}

.severity-CRITICAL .vulnerability-property-label {
    color: red;
    font-weight: bold;
}

.severity-HIGH .vulnerability-property-label {
    color: orangered;
    font-weight: bold;
}

.severity-MEDIUM .vulnerability-property-label {
    color: orange;
    font-weight: bold;
}

.severity-LOW .vulnerability-property-label {
    color: darkkhaki;
    font-weight: bold;
}

.severity-NONE .vulnerability-property-label {
    color: black;
    font-weight: bold;
}
